*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/bg.jpg);
    background-size: 50px;
    color: #fafafa;
    font-family: raleway-c;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: raleway-c;
}

.content,
.hero,
.main-header,
.gallery > * {
    will-change: transform;
}

.container {
    padding: 0 7vw;
}
